workflows/chafz2GhIV0Ed99G.json
{
  "id": "chafz2GhIV0Ed99G",
  "name": "Бот репостер",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "Хаб",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        260,
        -500
      ],
      "id": "73cc3899-e4c7-41b5-8849-9c6386fb3ae9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGMMnhh5yDRIvPv",
          "mode": "list",
          "cachedResultName": "Городские с хабами",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv"
        },
        "table": {
          "__rl": true,
          "value": "tblHXCOMyULV5v5wJ",
          "mode": "list",
          "cachedResultName": "Городские каналы",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv/tblHXCOMyULV5v5wJ"
        },
        "filterByFormula": "={Notes} = {{ $json.telegram_id }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -180,
        -500
      ],
      "id": "c9177b8a-d4e5-46bf-9de1-e8b0dca92e83",
      "name": "Получение каналов",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "WAhix2tqD6wDz5IV",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "channel_post"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        -500
      ],
      "id": "90027d04-6c7c-484c-8273-d2b66afaf7f2",
      "name": "Сообщение",
      "webhookId": "4f2891c8-3bf8-4816-8c4b-975930eb0559",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Подготовка данных').item.json.telegram_id }}",
        "text": "={{ $('Code').item.json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        -200
      ],
      "id": "6ecfa02b-8ae7-45a5-9b37-d7a4c9688267",
      "name": "Публикация поста",
      "webhookId": "53ef211d-6131-4b4c-95b7-9cea53781c6f",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appGMMnhh5yDRIvPv",
          "mode": "list",
          "cachedResultName": "Городские с хабами",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv"
        },
        "table": {
          "__rl": true,
          "value": "tblYVrlMVQKYzLzi1",
          "mode": "list",
          "cachedResultName": "Хабы",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv/tblYVrlMVQKYzLzi1"
        },
        "id": "={{ $json[\"Хаб\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        700,
        -500
      ],
      "id": "f03501cb-4045-4f3d-a171-21e681f9bf29",
      "name": "Получение данных по каналу",
      "credentials": {
        "airtableTokenApi": {
          "id": "WAhix2tqD6wDz5IV",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -500
      ],
      "id": "6a155cbd-20f2-4962-918d-9ae3cc661c2c",
      "name": "Цикл по подключенным каналам"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        -700
      ],
      "id": "26a638c3-41f5-41c8-a01d-a4c7b9355032",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13748391-c9c4-428d-8d44-abeecc8d8264",
              "leftValue": "={{ $json.channel_post.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d8306e3e-c45f-4fc2-8c3f-57b883d47acc",
              "leftValue": "={{ $json.channel_post.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -620,
        -500
      ],
      "id": "eca3828e-45fb-4338-85e7-0ccc33b6bfd3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const $item = $input.first().json;\nconst result = {\n  photo: $item.channel_post.photo,\n  video: $item.channel_post.video,\n  media_group_id: $item.channel_post.media_group_id,\n  text: $item.channel_post.caption || $item.channel_post.text,\n  telegram_id: $item.channel_post.chat.id\n  // telegram_id: -1001546447344\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -500
      ],
      "id": "bf75921a-8c86-42a9-a252-c8da59d7f47a",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.media_group_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "82a90727-75da-4812-8c9e-59a1c31147bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Медиа Группа"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2e578b3-1ee2-4198-9913-55e1883d62ce",
                    "leftValue": "={{ $('Code').item.json.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Фото"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54317c44-ccf9-450d-82f1-afff15cc7749",
                    "leftValue": "={{ $('Code').item.json.video }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Видео"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1140,
        -521
      ],
      "id": "dec4d4f6-0f3b-4078-bcf3-f2c0926da449",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendMediaGroup",
        "chatId": "={{ $('Подготовка данных').item.json.telegram_id }}",
        "media": {
          "media": [
            {
              "additionalFields": {}
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -800
      ],
      "id": "154b932e-8d45-4180-b20b-a490f51ec673",
      "name": "Telegram",
      "webhookId": "bd80311b-8d4e-4ad6-bd2a-10bebf2a6be0",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        -210.5
      ],
      "id": "5206564f-35fa-41f1-a38c-8054592f1d50",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Подготовка данных').item.json.telegram_id }}",
        "file": "={{ $('Code').item.json.video.file_id }}",
        "additionalFields": {
          "caption": "={{ $('Code').item.json.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        -400
      ],
      "id": "16a82d22-fde3-45d3-8cab-953d0f8c4a07",
      "name": "Отправка видео",
      "webhookId": "7f6588bc-fe05-42a9-ba68-1227b4a1d0c7",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Подготовка данных').item.json.telegram_id }}",
        "file": "={{ $json.photo.file_id }}",
        "additionalFields": {
          "caption": "={{ $('Code').item.json.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        -600
      ],
      "id": "9d70da1b-9975-4bc6-b202-849ac94898c6",
      "name": "Отправка фото",
      "webhookId": "e0d1f1d9-d013-4c6e-9dff-8074c3414a71",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      }
    },
    {
      "parameters": {
        "content": "## Не готово",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -880
      ],
      "typeVersion": 1,
      "id": "46b1a829-797a-4047-8a33-7d62fe527f89",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const $photos = $('Code').first().json.photo;\n\n// Найти фото с максимальным height\nconst photoWithMaxHeight = $photos.reduce((max, photo) => \n  photo.height > (max?.height ?? -Infinity) ? photo : max\n, null);\n\nconst result = {\n  photo: photoWithMaxHeight\n};\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -600
      ],
      "id": "8a7fdc6b-4619-47d0-a531-0767344918c1",
      "name": "Отбор картинки"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bd8afeb-4688-46f1-8919-e7d9c472dcb7",
              "name": "telegram_id",
              "value": "={{ $json.Notes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        -500
      ],
      "id": "ad0af17c-f5bd-42f8-af70-0039b650d699",
      "name": "Подготовка данных"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "=name",
              "value": "={{ $json.Name }}"
            },
            {
              "key": "hubs",
              "value": "={{ $json[\"Name (from Хаб)\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        40,
        -500
      ],
      "id": "b80efd8c-a5bf-4a5d-8d19-296d47e9d4ec",
      "name": "Execution Data"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение каналов": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Публикация поста": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение данных по каналу": {
      "main": [
        [
          {
            "node": "Подготовка данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл по подключенным каналам": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получение данных по каналу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Получение каналов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отбор картинки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправка видео",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Публикация поста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка видео": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отбор картинки": {
      "main": [
        [
          {
            "node": "Отправка фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка данных": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "e6e99cb0-cabb-4eca-9f72-2b5c408dbd5f",
  "owner": {
    "type": "team",
    "teamId": "T6Im4HMHj8P4WdMl",
    "teamName": "Репостер"
  },
  "parentFolderId": null,
  "isArchived": false
}