workflows/chafz2GhIV0Ed99G.json
{
  "id": "chafz2GhIV0Ed99G",
  "name": "Бот репостер",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "Хаб",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        260,
        -500
      ],
      "id": "73cc3899-e4c7-41b5-8849-9c6386fb3ae9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGMMnhh5yDRIvPv",
          "mode": "list",
          "cachedResultName": "Городские с хабами",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv"
        },
        "table": {
          "__rl": true,
          "value": "tblHXCOMyULV5v5wJ",
          "mode": "list",
          "cachedResultName": "Городские каналы",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv/tblHXCOMyULV5v5wJ"
        },
        "filterByFormula": "={Notes} = {{ $json.telegram_id }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -180,
        -500
      ],
      "id": "c9177b8a-d4e5-46bf-9de1-e8b0dca92e83",
      "name": "Получение каналов",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "WAhix2tqD6wDz5IV",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "channel_post"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        -500
      ],
      "id": "90027d04-6c7c-484c-8273-d2b66afaf7f2",
      "name": "Сообщение",
      "webhookId": "4f2891c8-3bf8-4816-8c4b-975930eb0559",
      "credentials": {
        "telegramApi": {
          "id": "YYMAkRIbVkykkcPp",
          "name": "Telegram Reposter"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appGMMnhh5yDRIvPv",
          "mode": "list",
          "cachedResultName": "Городские с хабами",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv"
        },
        "table": {
          "__rl": true,
          "value": "tblYVrlMVQKYzLzi1",
          "mode": "list",
          "cachedResultName": "Хабы",
          "cachedResultUrl": "https://airtable.com/appGMMnhh5yDRIvPv/tblYVrlMVQKYzLzi1"
        },
        "id": "={{ $json[\"Хаб\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        700,
        -500
      ],
      "id": "f03501cb-4045-4f3d-a171-21e681f9bf29",
      "name": "Получение данных по каналу",
      "credentials": {
        "airtableTokenApi": {
          "id": "WAhix2tqD6wDz5IV",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -500
      ],
      "id": "6a155cbd-20f2-4962-918d-9ae3cc661c2c",
      "name": "Цикл по подключенным каналам"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        -700
      ],
      "id": "26a638c3-41f5-41c8-a01d-a4c7b9355032",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13748391-c9c4-428d-8d44-abeecc8d8264",
              "leftValue": "={{ $json.channel_post.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d8306e3e-c45f-4fc2-8c3f-57b883d47acc",
              "leftValue": "={{ $json.channel_post.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -620,
        -500
      ],
      "id": "eca3828e-45fb-4338-85e7-0ccc33b6bfd3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const $item = $input.first().json;\nconst result = {\n  photo: $item.channel_post.photo,\n  video: $item.channel_post.video,\n  media_group_id: $item.channel_post.media_group_id,\n  text: $item.channel_post.caption || $item.channel_post.text,\n  telegram_id: $item.channel_post.chat.id\n  // telegram_id: -1001546447344\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -500
      ],
      "id": "bf75921a-8c86-42a9-a252-c8da59d7f47a",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bd8afeb-4688-46f1-8919-e7d9c472dcb7",
              "name": "telegram_id",
              "value": "={{ $json.Notes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        -500
      ],
      "id": "ad0af17c-f5bd-42f8-af70-0039b650d699",
      "name": "Подготовка данных"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "=name",
              "value": "={{ $json.Name }}"
            },
            {
              "key": "telegram_id",
              "value": "={{ $json.Notes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        40,
        -500
      ],
      "id": "b80efd8c-a5bf-4a5d-8d19-296d47e9d4ec",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot167110295:AAE1uRWxGEV1SBI-kZAB3p4Sl7sbI-eKM50/forwardMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.telegram_id }}"
            },
            {
              "name": "from_chat_id",
              "value": "={{ $('Сообщение').item.json.channel_post.chat.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Сообщение').item.json.channel_post.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -500
      ],
      "id": "48aa0788-32ec-4436-b04f-499f0dad3ee7",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение каналов": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение данных по каналу": {
      "main": [
        [
          {
            "node": "Подготовка данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл по подключенным каналам": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получение данных по каналу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Получение каналов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка данных": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "c3c32eb2-2d7e-44ee-af28-3e7f1491f9b2",
  "owner": {
    "type": "team",
    "teamId": "T6Im4HMHj8P4WdMl",
    "teamName": "Репостер"
  },
  "parentFolderId": null,
  "isArchived": false
}