workflows/h4XEhTtpmKkEwEG5.json
{
  "id": "h4XEhTtpmKkEwEG5",
  "name": "Шутко-генератор",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -30
      ],
      "id": "688f5d93-63ff-4f85-9f16-5e9b123faed0",
      "name": "Telegram Trigger",
      "webhookId": "b3680d72-78a5-46cf-b372-b1c72cc3b3e6",
      "credentials": {
        "telegramApi": {
          "id": "K9lCoxIEkSDoJE0b",
          "name": "RjjakaBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты помощник по придумыванию шуток. Я говорю тебе тему, а ты придумывешь шутку.\n\nПример темы: Про работу\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        80,
        120
      ],
      "id": "582f0fb3-1b9c-4ac6-8c0b-0186fc52273a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        108,
        340
      ],
      "id": "8af6666d-4e0b-404e-97dc-f65981bcc6b4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ir6iXmxI7w0RrLLv",
          "name": "OpenAi Sven account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        340
      ],
      "id": "33fb7d6e-f619-459b-bd94-27ec6d185a7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        158,
        -180
      ],
      "id": "8d44fa4c-0b61-4109-84fa-01bbb9782c2e",
      "name": "Telegram",
      "webhookId": "a43ebbd5-3a19-4735-8612-3508bcb651cd",
      "credentials": {
        "telegramApi": {
          "id": "K9lCoxIEkSDoJE0b",
          "name": "RjjakaBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        456,
        120
      ],
      "id": "26fd2870-3529-4141-9551-4a00b97a0aec",
      "name": "Telegram1",
      "webhookId": "ec69718b-1756-4ffb-869b-a0d3c4347a91",
      "credentials": {
        "telegramApi": {
          "id": "K9lCoxIEkSDoJE0b",
          "name": "RjjakaBot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "40aa1081-a7ad-4fb4-b3cb-e92b6069f34c",
  "owner": {
    "type": "personal",
    "personalEmail": "mikhail@devilweb.ru"
  },
  "parentFolderId": null
}