workflows/Prw9WTtBr28yDkvq.json
{
  "id": "Prw9WTtBr28yDkvq",
  "name": "Авто-ответчик для отпуска",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chats",
          "mode": "list",
          "cachedResultName": "chats"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $('TelePilot Trigger').item.json.message.chat_id }}"
            },
            {
              "column": "enable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -200
      ],
      "id": "0ac0aaff-b888-45e9-89b9-9d7bed81a3e0",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "XyaFOKD4KNwemcOk",
          "name": "Postgres co_pilot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19370340-d515-4366-a287-e8cedac0efd1",
              "leftValue": "={{ $json.message.is_outgoing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "1e7ea987-a1cd-4d56-8435-67a745d87d2d",
              "leftValue": "={{ $json.message.content.text.entities }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -200
      ],
      "id": "1d5348c6-511a-4260-a292-206424c62d5e",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cabaa92-1500-484f-95d5-04e2074f4390",
              "leftValue": "={{ $json._ }}",
              "rightValue": "textEntity",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c933cad3-48dd-4f0b-aa02-41b4df5b4073",
              "leftValue": "={{ $json.type._ }}",
              "rightValue": "textEntityTypeMention",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        620,
        -200
      ],
      "id": "3bc45ff7-b1db-4280-85e5-2154fd2de9cf",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.text.entities",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        -200
      ],
      "id": "47157b14-36bf-4ddf-9752-f52bc07cbe42",
      "name": "Split Out"
    },
    {
      "parameters": {
        "textsWithManipulations": {
          "textsWithManipulationsValues": [
            {
              "dataSources": {
                "dataSource": [
                  {
                    "text": "={{ $('If').item.json.message.content.text.text }}"
                  }
                ]
              },
              "manipulations": {
                "manipulation": [
                  {
                    "action": "substring",
                    "startPosition": "={{ $('If').item.json.message.content.text.entities[0].offset }}",
                    "end": "length",
                    "endLength": "={{ $('If').item.json.message.content.text.entities[0].length }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-text-manipulation.textManipulation",
      "typeVersion": 1,
      "position": [
        840,
        -200
      ],
      "id": "0a9e49e9-ced9-4552-9534-395d06ed3586",
      "name": "TextManipulation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55aebf11-e7f6-45aa-8d79-4a76ff00eeef",
              "leftValue": "={{ $json.data }}",
              "rightValue": "@Sven_R",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        -200
      ],
      "id": "556ce9e6-4fb7-4b22-b201-de477d71f970",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "message",
        "chat_id": "={{ $('Postgres').item.json.telegram_id }}",
        "messageText": "={{ $json.output }}\n\n💬 Автоматический ответ",
        "message_thread_id": 0,
        "reply_to_msg_id": "={{ $('TelePilot Trigger').item.json.message.id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        2096,
        -200
      ],
      "id": "0234afe4-00cb-44ed-bca0-bc98786ac4cc",
      "name": "Telegram CoPilot1",
      "credentials": {
        "telePilotApi": {
          "id": "j4Lk5FixEz26AaCU",
          "name": "My TG"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "telegram_id",
              "value": "={{ $json.telegram_id }}"
            },
            {
              "key": "name",
              "value": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        1500,
        -200
      ],
      "id": "f47978a1-9d39-471f-9df5-8d1903995d8a",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('TelePilot Trigger').item.json.message.content.text.text }}",
        "options": {
          "systemMessage": "=Ты помощник для личного чата.\nТебя зовут Михаил.\nСегодня: {{ DateTime.now().toLocal().toLocaleString() }}\n\nКогда кто то присылает сообщение, говори что находишься в отпуске с 26.05.2025 по 02.06.2025.\n\n## IMPORTANT \n\nЕсли скажут что с чем то есть проблемы или что то не сформировалось, не отправилось, зависло, ответь что с эти вопросом можно обратиться к @timbuhkto или @latyshok"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1720,
        -200
      ],
      "id": "e1df9ef9-4c9d-4dca-aaa0-3271f8472cd3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1748,
        20
      ],
      "id": "357b5e28-3fe5-4196-9348-545b29d9bed4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ir6iXmxI7w0RrLLv",
          "name": "OpenAi Sven account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat{{ $('Postgres').item.json.telegram_id }}_1",
        "sessionTTL": 86400,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1868,
        20
      ],
      "id": "3d01e3cb-ed8a-4707-8864-08f4de664952",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "YF6dn12QHUj1YiBl",
          "name": "Redis DBServer"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "events": [
          "updateNewMessage"
        ],
        "options": {
          "ignoreGroups": false
        }
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilotTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ],
      "id": "f7cdc4a3-70b7-4c96-8028-26fb36dcdd30",
      "name": "TelePilot Trigger",
      "credentials": {
        "telePilotApi": {
          "id": "j4Lk5FixEz26AaCU",
          "name": "My TG"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "TextManipulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TextManipulation": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram CoPilot1": {
      "main": [
        []
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram CoPilot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelePilot Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "96a21b77-89e5-4f14-b973-ed18ab711116",
  "owner": {
    "type": "personal",
    "personalEmail": "mikhail@devilweb.ru"
  },
  "parentFolderId": null,
  "isArchived": false
}