workflows/VGzowLepx4jdXbDF.json
{
  "id": "VGzowLepx4jdXbDF",
  "name": "Reposter",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "[\"nc_i9db___nc_m2m_Источники_Каналыs\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -60,
        -10
      ],
      "id": "150283fd-3135-480e-9a12-64ed763227a8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "updates": [
          "channel_post"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        0
      ],
      "id": "20d24c95-0951-4f05-a488-7a96f5564f25",
      "name": "Сообщение",
      "webhookId": "4f2891c8-3bf8-4816-8c4b-975930eb0559",
      "credentials": {
        "telegramApi": {
          "id": "Q3tv0mWUEP3jFDY1",
          "name": "Telegram TestBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "={{ $('Сообщение').item.json.channel_post.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        40
      ],
      "id": "6da619ce-e997-4dc8-b3ae-4a53f71cf93f",
      "name": "Публикация поста",
      "webhookId": "53ef211d-6131-4b4c-95b7-9cea53781c6f",
      "credentials": {
        "telegramApi": {
          "id": "Q3tv0mWUEP3jFDY1",
          "name": "Telegram TestBot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        380,
        0
      ],
      "id": "ea470067-52dd-407b-a314-9dc38efb6e9d",
      "name": "Цикл по подключенным каналам"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        -160
      ],
      "id": "e01590ba-10de-4706-a456-cf237ed5b6bb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f1b7fbe-fa74-467f-98df-8b69a829a84f",
              "name": "telegram_id",
              "value": "={{ $json[\"Каналы\"].Telegram_ID }}",
              "type": "number"
            },
            {
              "id": "9feb8379-c49a-4847-8bcc-606ea4c1ead1",
              "name": "title",
              "value": "={{ $json[\"Каналы\"].Title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "a5eefa78-0798-42be-9502-4b0eac057bdb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "puwwlf21pdhr9uf",
        "table": "m2ewxf3mdk2viwm",
        "limit": 1,
        "options": {
          "fields": [],
          "where": "=(Telegram_ID,eq,{{ $json.channel_post.chat.id }})~and(IsEnabled,eq,1)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -280,
        -10
      ],
      "id": "9b789f1c-1ada-4851-b7bf-d2ad480630b5",
      "name": "Получение источников",
      "credentials": {
        "nocoDbApiToken": {
          "id": "fK3dBUcIC9jAIo3T",
          "name": "NocoDB DevConf"
        }
      }
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение": {
      "main": [
        [
          {
            "node": "Получение источников",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Публикация поста": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл по подключенным каналам": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Публикация поста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Цикл по подключенным каналам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение источников": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "8c552085-63b1-439c-8029-88cb8128930b",
  "owner": {
    "type": "personal",
    "personalEmail": "mikhail@devilweb.ru"
  },
  "parentFolderId": null,
  "isArchived": false
}