workflows/wQezzWxW0cjIxz6R.json
{
  "id": "wQezzWxW0cjIxz6R",
  "name": "TrvmBot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "527a4ca3-8d25-4b73-aa11-d112a576cfe2",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "6-11 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "af187b2c-eb70-4535-8054-6ddcdba0689f",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "Старше 12 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        40
      ],
      "id": "dd784947-8118-48a8-a194-848a8a3bc3fd",
      "name": "23"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e54d4d3b-afb8-4b46-bde5-210680b59650",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        580
      ],
      "id": "37ee475c-ef83-448c-822c-6db6eada5b18",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.message.from.id }}",
        "file": "https://sun9-72.userapi.com/impg/swZIvnTCQ3vf72au3TgkdZQVwx0-icRdnnQMJg/NXTcYsIGUyk.jpg?size=1704x1564&quality=95&sign=4655eb73bd364348f4f7d4798ae78b24&type=album",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Я получил травму",
                    "additionalFields": {
                      "callback_data": "havtravma"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "<strong>Добро пожаловать в бот Травме.НЕТ</strong>\nДанный бот разработан на кафедре стоматологии детского возраста и ортодонтии СГМУ им. В.И. Разумовского. Данный бот не является заменой консультации врача и носит информационный характер",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        540
      ],
      "id": "9f4daf1e-c7a4-4200-a3b0-4e7b60f04008",
      "name": "Telegram",
      "webhookId": "1decf89f-a71e-48cf-be18-cdaade2d6219",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -680,
        280
      ],
      "id": "689ef2ff-1892-4ea6-95c6-74b14fedffbf",
      "name": "Сообщение",
      "webhookId": "269e2fc4-c219-4715-982d-744245afee83",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5f8f8261-4c30-4bfd-b180-a4ed46b78a42"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Нажатие кнопки"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdb6818a-c731-45b9-b2f7-26ba718119df",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Сообщение"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        300
      ],
      "id": "366ae827-a897-4818-b1de-8c25e60f7e57",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "havtravma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "df2a23ad-ce37-419a-819a-af7520417ed4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        220
      ],
      "id": "102f6e1e-a2e9-4d27-a97b-dd15666f5cd6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "message": "Необходимо заполнить форму",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Возраст ребенка?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "До 5 лет "
                  },
                  {
                    "option": "6-11 лет"
                  },
                  {
                    "option": "Старше 12 лет "
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Какая травма зуба?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Зуб скололся"
                  },
                  {
                    "option": "Зуб подвижный"
                  },
                  {
                    "option": "Зуб выбит (постоянный)"
                  },
                  {
                    "option": "Зуб выбит (молочный)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Есть ли боль?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Да"
                  },
                  {
                    "option": "Нет"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Сколько времени прошло после травмы?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "До 30 минут"
                  },
                  {
                    "option": "Больше 30 минут"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Открыть форму",
          "responseFormTitle": "Заполните анкету",
          "responseFormButtonLabel": "Отправить",
          "limitWaitTime": {
            "values": {
              "resumeAmount": 30,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        180
      ],
      "id": "61a76ee8-9be1-4ed9-8d14-0ad2682e6d48",
      "name": "Telegram1",
      "webhookId": "962280eb-d465-48cb-afac-d8cde8d99a36",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c9b46ef-5711-459a-a6dd-d9f75c6e0a69",
              "leftValue": "={{ $json.data['Есть ли боль?'] }}",
              "rightValue": "Да",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        520
      ],
      "id": "c0611d94-6e42-48c1-92ff-b23ff4f830a6",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "Дайте «Нурофен» в соответствии с возрастом для снятия боли",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        640
      ],
      "id": "59131c63-9000-4c6d-8572-1604783853e4",
      "name": "Telegram2",
      "webhookId": "fb370fb5-7353-4b60-a3d6-22163e9905f9",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "- Найдите зуб, держите его за коронку\n- Если зуб грязный, ополосните его водой/физраствором/слюной. Не касайтесь корня.\n- Верните зуб в лунку только в том случае, если вы уверены, что сможете поставить зуб правильно. Ориентируйтесь на соседний зуб, чтобы вставить зуб ровно.\n- Попросите ребенка накусить салфетку/платок.\n- Срочно обратитесь к стоматологу.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1940,
        20
      ],
      "id": "a1e32aa1-415d-44cf-ac30-d61d44596ffc",
      "name": "Telegram3",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "- Найдите зуб, держите его за коронку\n- Если зуб грязный, ополосните его водой/физраствором/слюной. Не касайтесь корня.\n- Положите зуб в контейнер с физраствором или молоком \n- Не кладите зуб в спирт или перекись водорода!\n- Срочно обратитесь к стоматологу.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1940,
        260
      ],
      "id": "38be4e15-0154-4215-848c-633c0f7574b6",
      "name": "Telegram4",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b675c491-d287-4f6b-ad33-466c72bf861b",
              "leftValue": "={{ $json.data['Какая травма зуба?'] }}",
              "rightValue": "Зуб выбит (постоянный)",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1a627da4-4349-49ad-8196-026d84023e16",
              "leftValue": "={{ $('Telegram1').item.json.data['Сколько времени прошло после травмы?'] }}",
              "rightValue": "Больше 30 минут",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "id": "5e4ad2fd-3017-49d2-8de3-ca54a44b6133",
      "name": "2,3,6,10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8aa950c-51d9-4778-9e8f-0eb7f9d57ebd",
              "leftValue": "={{ $json.data['Какая травма зуба?'] }}",
              "rightValue": "Зуб выбит (постоянный)",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "436527f6-0f40-4b3b-9327-4cdbe3b38e1d",
              "leftValue": "={{ $json.data['Сколько времени прошло после травмы?'] }}",
              "rightValue": "До 30 минут",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        40
      ],
      "id": "af392061-8609-4010-a7ae-6631b3fb845e",
      "name": "2, 3, 6, 9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "456159aa-d8f6-4e7b-a246-d73bc76db056",
              "leftValue": "={{ $json.data['Какая травма зуба?'] }}",
              "rightValue": "зуб выбит (молочный)",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        460
      ],
      "id": "22b07fa9-9a55-43a0-bc4d-e3495701bea9",
      "name": "1,2,6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "- Не вставляйте зуб обратно в лунку – можно повредить зачаток постоянного зуба. \n- Промойте рот ребенка водой и приложите наружно на кожу в области травму холод на 20 минут.\n- Обратитесь к стоматологу в ближайшие часы.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1940,
        440
      ],
      "id": "337cc200-a421-48b5-930b-5d2790d7207e",
      "name": "Telegram5",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "- Убедитесь, что ребенок в порядке, у него нет сотрясений или других жизнеугрожающих травм.\n- Постарайтесь найти фрагмент зуба.\n- Положите кусочек зуба в физраствор/молоко/воду.\n- Не давайте ребенку горячую и холодную пищу.\n- Если ребенок жалуется на боль, дайте «Нурофен» в соответствии с возрастом.\n- Обратитесь к стоматологу в течении 24 часов.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1940,
        660
      ],
      "id": "a15bfef6-8a5f-4124-9e06-305d2c7514c9",
      "name": "Telegram6",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "527a4ca3-8d25-4b73-aa11-d112a576cfe2",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "До 5 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "af187b2c-eb70-4535-8054-6ddcdba0689f",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "6-11 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "456159aa-d8f6-4e7b-a246-d73bc76db056",
              "leftValue": "={{ $json.data['Какая травма зуба?'] }}",
              "rightValue": "Зуб скололся",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        680
      ],
      "id": "b0df4f49-f937-40a1-9a88-cb13aab28e86",
      "name": "1,2,3,4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "- Найдите зуб, держите его за коронку\n- Если зуб грязный, ополосните его водой/физраствором/слюной. Не касайтесь корня.\n- Верните зуб в лунку только в том случае, если вы уверены, что сможете поставить зуб правильно. Ориентируйтесь на соседний зуб, чтобы вставить зуб ровно.\n- Попросите ребенка накусить салфетку/платок.\n- Срочно обратитесь к стоматологу.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1940,
        860
      ],
      "id": "35753ca5-4403-4f07-99bc-99e928da0b63",
      "name": "Telegram7",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8aa950c-51d9-4778-9e8f-0eb7f9d57ebd",
              "leftValue": "={{ $json.data['Какая травма зуба?'] }}",
              "rightValue": "Зуб подвижный",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        880
      ],
      "id": "95e1e976-5ba2-4cb3-a996-36bfc810561c",
      "name": "1,2,3,5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "527a4ca3-8d25-4b73-aa11-d112a576cfe2",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "До 5 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "af187b2c-eb70-4535-8054-6ddcdba0689f",
              "leftValue": "={{ $json.data['Возраст ребенка?'] }}",
              "rightValue": "6-11 лет",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        440
      ],
      "id": "813d431c-ed84-4560-9da1-e6d0c96a27e9",
      "name": "1-2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "Для того чтобы начать сначала /start",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2500,
        400
      ],
      "id": "5a22b8bd-248f-4162-853d-90fc721b3479",
      "name": "Telegram8",
      "webhookId": "1d146467-5bc5-4235-9a6e-196ad03d60ed",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2340,
        440
      ],
      "id": "2f3bcbf2-56de-4553-8dfc-91f17d1f2c5e",
      "name": "Wait",
      "webhookId": "50a3d6a0-7baa-4fbe-a4e6-16300d965884"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3bd993a8-2e76-4df4-910f-6703d899457e",
      "name": "Telegram10",
      "webhookId": "3418e1f5-d481-4206-ae08-7a5358babf2c",
      "credentials": {
        "telegramApi": {
          "id": "AG5ES0zHiTaIhFiO",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "23": {
      "main": [
        [
          {
            "node": "2, 3, 6, 9",
            "type": "main",
            "index": 0
          },
          {
            "node": "2,3,6,10",
            "type": "main",
            "index": 0
          },
          {
            "node": "1,2,3,5",
            "type": "main",
            "index": 0
          },
          {
            "node": "1,2,3,4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "23",
            "type": "main",
            "index": 0
          },
          {
            "node": "1-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2,3,6,10": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2, 3, 6, 9": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2,6": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2,3,4": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2,3,5": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1-2": {
      "main": [
        [
          {
            "node": "1,2,6",
            "type": "main",
            "index": 0
          },
          {
            "node": "1,2,3,5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram7": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Telegram8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "d3290152-6967-442b-85b0-34d28eb290be",
  "owner": {
    "type": "team",
    "teamId": "vc6apYnRRhgg1E0V",
    "teamName": "Doza"
  },
  "parentFolderId": null
}