workflows/WYakMz5mXef2StVP.json
{
  "id": "WYakMz5mXef2StVP",
  "name": "ТравмБот",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e54d4d3b-afb8-4b46-bde5-210680b59650",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        100
      ],
      "id": "acbf8c51-e001-4c0a-9524-222f919595a4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Добро пожаловать в бот Травме.НЕТ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Я получил травму",
                    "additionalFields": {
                      "callback_data": "havtravma"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        80
      ],
      "id": "2109068e-eac2-47a5-867e-4acab85adf47",
      "name": "Telegram",
      "webhookId": "0808d42f-c2ab-48da-b515-0ec2c8a56235",
      "credentials": {
        "telegramApi": {
          "id": "4wwqPAE1h8JpgkI6",
          "name": "TravmeNET_bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -200
      ],
      "id": "4386e820-1132-41d0-b55b-5aa301c7affb",
      "name": "Сообщение",
      "webhookId": "6b17366d-8cf9-46c9-965c-b4b0c70f7160",
      "credentials": {
        "telegramApi": {
          "id": "4wwqPAE1h8JpgkI6",
          "name": "TravmeNET_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5f8f8261-4c30-4bfd-b180-a4ed46b78a42"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Нажатие кнопки"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdb6818a-c731-45b9-b2f7-26ba718119df",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Сообщение"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -360,
        -180
      ],
      "id": "f790780a-da23-4263-a47c-f5b61c24400f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "havtravma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf316fd9-4fcc-4159-b68a-cafede555795"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Esti travma"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f674fb6-e3c5-4cc2-9a04-8c05c62ab48f",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "age:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Age"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "adb2d2a8-4b06-4c79-a329-9eb36797dec0",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "travma:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vid travmi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d72fa01-bf7d-449c-bb58-02366f5b872c",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "pain:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pain"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bedb3598-fa6f-4ec1-aa8b-3bad91683365",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "time:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Time after travma"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        -280
      ],
      "id": "0e13f5d8-02b4-4b68-83bc-b8acfd36b56e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Возраст ребенка?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "До 5 лет",
                    "additionalFields": {
                      "callback_data": "age:do5"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "6-11 лет",
                    "additionalFields": {
                      "callback_data": "age:611"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Старше 12 лет ",
                    "additionalFields": {
                      "callback_data": "age:ot12"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        -500
      ],
      "id": "6ab93975-2c96-416b-9da9-f5552edc0339",
      "name": "Zaproz vozrazt",
      "webhookId": "cf81496d-fa2f-4775-85f2-725af1ea9891",
      "credentials": {
        "telegramApi": {
          "id": "4wwqPAE1h8JpgkI6",
          "name": "TravmeNET_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "До 5 лет ",
                    "additionalFields": {
                      "callback_data": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        -240
      ],
      "id": "03189c44-2130-45a5-bcb8-f6d79258e35d",
      "name": "Telegram1",
      "webhookId": "67bb170f-0466-4e9d-9172-de57b6d5a339",
      "credentials": {
        "telegramApi": {
          "id": "4wwqPAE1h8JpgkI6",
          "name": "TravmeNET_bot"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Zaproz vozrazt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "98257aaf-e76e-4b0b-9afd-63cae2f4010a",
  "owner": {
    "type": "personal",
    "personalEmail": "doza4815162342@gmail.com"
  },
  "parentFolderId": null
}