workflows/YXNqG1v03HN29pHV.json
{
  "id": "YXNqG1v03HN29pHV",
  "name": "visa-digital-nomad.com",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appaAfSpP4SWpKkTt",
          "mode": "list",
          "cachedResultName": "Global",
          "cachedResultUrl": "https://airtable.com/appaAfSpP4SWpKkTt"
        },
        "table": {
          "__rl": true,
          "value": "tblkAhhbnFhxzfC7w",
          "mode": "list",
          "cachedResultName": "Digital Nomad",
          "cachedResultUrl": "https://airtable.com/appaAfSpP4SWpKkTt/tblkAhhbnFhxzfC7w"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "User Agent": "={{ $json.body.user_agent }}",
            "IP": "={{ $json.body.ip }}",
            "URL": "={{ $json.body.href }}",
            "UTM": "={{ $json.body.utm_source }} {{ $json.body.utm_medium }} {{ $json.body.utm_campaign }} {{ $json.body.utm_term }} {{ $json.body.utm_content }}",
            "Email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User Agent",
              "displayName": "User Agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IP",
              "displayName": "IP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UTM",
              "displayName": "UTM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "0b009e6f-ee47-41a2-8bb7-3fac85259618",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "-1002316337514",
        "text": "=Имя: {{ $json.fields.Name }}\nТелефон: {{ $json.fields.Phone }}\nEmail: {{ $json.fields.Email }}\nURL: {{ $json.fields.URL }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d65a755c-5f28-4a82-bf9a-8c1febc2bba2",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        500
      ],
      "notesInFlow": false,
      "webhookId": "13b78cbc-2d8f-4608-a789-1614dee9f6ea",
      "credentials": {
        "telegramApi": {
          "id": "LUmlR7uTtrLsWPZE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002316337514",
        "text": "=*Звонок на номер {{ $json.body.callee }}*\n\nТелефон: {{ $json.body.caller }}\nURL: https://visa-digital-nomad.com/ru",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2731c4cf-6757-465c-864b-be850720b109",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        300,
        220
      ],
      "notesInFlow": false,
      "webhookId": "5f96dd36-cfc2-4051-a29a-0af6b715018f",
      "credentials": {
        "telegramApi": {
          "id": "LUmlR7uTtrLsWPZE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002316337514",
        "text": "=*Новый чат*\n💬 Сообщение: {{ $json.body.data.content }}\n\nURL: https://visa-digital-nomad.com",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2b4877ed-d5aa-48c8-a47b-ab3969838044",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        300,
        0
      ],
      "notesInFlow": false,
      "webhookId": "244ae366-1368-45ff-b2e6-97d63db1539f",
      "credentials": {
        "telegramApi": {
          "id": "LUmlR7uTtrLsWPZE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "73097e69-7bdb-410a-96be-ed4f10cb2e15",
        "options": {}
      },
      "id": "6594dfe0-23ac-4f4a-aaca-29aab9233ee9",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "73097e69-7bdb-410a-96be-ed4f10cb2e15"
    },
    {
      "parameters": {
        "chatId": "-1002316337514",
        "text": "=*Отзыв*\n\nИмя: {{ $json[\"body\"][\"name\"] }}\nТелефон: {{ $json[\"body\"][\"phone\"] }}\nРейтинг: {{ $json[\"body\"][\"rating\"] }}\nТекст: {{ $json[\"body\"][\"text\"] }}\nURL: {{ $json[\"body\"][\"href\"] }}\n--\nIP: {{ $json[\"body\"][\"ip\"] }}\nUA: {{ $json[\"body\"][\"user_agent\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "799663b1-4c76-4f9f-9735-c8d3347ac845",
      "name": "Telegram4",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        1600
      ],
      "notesInFlow": false,
      "webhookId": "3c568473-54fa-4ba6-a74b-9396e04fcf93",
      "credentials": {
        "telegramApi": {
          "id": "LUmlR7uTtrLsWPZE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dada8d12-3ca7-43c3-b33e-129c82f0e78e",
        "options": {}
      },
      "id": "295341a4-b9af-4fe1-bbcf-6784fe0ad71a",
      "name": "Reviews",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1600
      ],
      "webhookId": "dada8d12-3ca7-43c3-b33e-129c82f0e78e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a9d77438-6275-4693-8385-586d8cc3ea4f",
        "options": {}
      },
      "id": "6385bde2-541c-4bad-9502-733544eb85dc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        600
      ],
      "webhookId": "a9d77438-6275-4693-8385-586d8cc3ea4f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://visa-digital-nomad.com/wp-content/themes/visa-digital-nomad/includes/gpt-proxy.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n        {\n            \"role\": \"user\",\n            \"content\": \"Detect gender base on name: {{ $json.body.name }}. Detect country base on ip: {{ $json[\"body\"][\"ip\"] }}. Detect preferable country ISO2 code base on url, if url countains country name: {{ $json[\"body\"][\"href\"] }}. Return only json with keys gender, lead_country, preferable_country.\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "6ba63179-a8fe-4206-8291-d258537e2752",
      "name": "ChatGPT Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        1260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6fb10f3f-7bf7-4b7f-a273-b6617d7510eb",
        "options": {}
      },
      "id": "e2f2be01-5b9c-4241-bf8a-2967b78ea98d",
      "name": "Webhook3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1120
      ],
      "webhookId": "6fb10f3f-7bf7-4b7f-a273-b6617d7510eb"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "039a591e-1c73-478c-9c3f-894aee656681",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        300,
        1060
      ]
    },
    {
      "parameters": {
        "chatId": "-1002316337514",
        "text": "=*ГАЙД*\n\nИмя: {{ $json[\"body\"][\"name\"] }}\nТелефон: {{ $json[\"body\"][\"phone\"] }}\nURL: {{ $json[\"body\"][\"href\"] }}\n--\nIP: {{ $json[\"body\"][\"ip\"] }}\nUA: {{ $json[\"body\"][\"user_agent\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "788edc45-53d6-4339-a207-5f26ab5ede2e",
      "name": "Telegram Guide",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        1260
      ],
      "notesInFlow": false,
      "webhookId": "697a34c7-32a7-4327-a8e3-0988b4b3576a",
      "credentials": {
        "telegramApi": {
          "id": "LUmlR7uTtrLsWPZE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "02e2692f-5836-4211-ba51-3a65d1784fc9",
        "options": {}
      },
      "id": "7a4d8615-a55d-48ca-b273-3ca3da771fd2",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "webhookId": "02e2692f-5836-4211-ba51-3a65d1784fc9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://visa-digital-nomad.com/wp-content/themes/visa-digital-nomad/includes/gpt-proxy.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n        {\n            \"role\": \"user\",\n            \"content\": \"Detect gender base on name: {{ $json.body.name }}. Detect country base on ip: {{ $json[\"body\"][\"ip\"] }}. Detect preferable country ISO2 code base on url, if url countains country name: {{ $json[\"body\"][\"href\"] }}. Return only json with keys gender, lead_country, preferable_country.\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "d03be9d6-75a3-49be-b132-19517c2e85b8",
      "name": "ChatGPT Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        780
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f6992f28-50e7-4d6d-baf7-201b0d6d271c",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        580,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global-relocate.bitrix24.ru/rest/1/iv7h8mv7sc322e3y/crm.lead.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"TITLE\": \"Новая заявка [ГАЙД]\",\n    \"NAME\": \"{{ $json.body.name }}\",\n    \"PHONE\": [{\"VALUE\": \"{{ $json.body.phone }}\", \"VALUE_TYPE\": \"WORK\"}],\n    \"UF_CRM_HREF\": \"{{ $json.body.href }}\",\n    \"UF_CRM_IP\": \"{{ $json.body.ip }}\",\n    \"UF_CRM_METRIKA_CLIENT_ID\": \"{{ $json.body.metrika_client_id }}\",\n    \"UF_CRM_GENDER\": \"{{ ({\"male\": 2824, \"female\": 2826}[$json.gender] || null) }}\",\n    \"UF_CRM_PREFERABLE_COUNTRY\": [{{ ({\"GE\": 3668,\"GR\": 3666,\"AU\": 2828,\"AT\": 2830,\"AZ\": 2832,\"AL\": 2834,\"DZ\": 2836,\"AO\": 2838,\"AD\": 2840,\"AG\": 2842,\"AR\": 2844,\"AM\": 2846,\"AF\": 2848,\"BS\": 2850,\"BD\": 2852,\"BB\": 2854,\"BH\": 2856,\"BZ\": 2858,\"BY\": 2860,\"BE\": 2862,\"BJ\": 2864,\"BG\": 2866,\"BO\": 2868,\"BA\": 2870,\"BW\": 2872,\"BR\": 2874,\"BN\": 2876,\"BF\": 2878,\"BI\": 2880,\"BT\": 2882,\"VU\": 2884,\"VA\": 2886,\"GB\": 2888,\"HU\": 2890,\"VE\": 2892,\"TL\": 2894,\"VN\": 2896,\"GA\": 2898,\"HT\": 2900,\"GY\": 2902,\"GM\": 2904,\"GH\": 2906,\"GT\": 2908,\"GN\": 2910,\"GW\": 2912,\"DE\": 2914,\"HN\": 2916,\"DJ\": 2918,\"DM\": 2920,\"DO\": 2922,\"EG\": 2924,\"ZM\": 2926,\"EH\": 2928,\"ZW\": 2930,\"IL\": 2932,\"IN\": 2934,\"ID\": 2936,\"JO\": 2938,\"IQ\": 2940,\"IR\": 2942,\"IE\": 2944,\"IS\": 2946,\"ES\": 2948,\"IT\": 2950,\"KZ\": 2952,\"KH\": 2954,\"CM\": 2956,\"CA\": 2958,\"QA\": 2960,\"KE\": 2962,\"CY\": 2964,\"KG\": 2966,\"KI\": 2968,\"CN\": 2970,\"CO\": 2972,\"KM\": 2974,\"CD\": 2976,\"CG\": 2978,\"KP\": 2980,\"KR\": 2982,\"CR\": 2984,\"CI\": 2986,\"CU\": 2988,\"KW\": 2990,\"LA\": 2992,\"LV\": 2994,\"LS\": 2996,\"LR\": 2998,\"LB\": 3000,\"LY\": 3002,\"LT\": 3004,\"LI\": 3006,\"LU\": 3008,\"MU\": 3010,\"MR\": 3012,\"MG\": 3014,\"MW\": 3016,\"MY\": 3018,\"ML\": 3020,\"MV\": 3022,\"MT\": 3024,\"MA\": 3026,\"MH\": 3028,\"MX\": 3030,\"FM\": 3032,\"MZ\": 3034,\"MD\": 3036,\"MC\": 3038,\"MN\": 3040,\"MM\": 3042,\"NA\": 3044,\"NR\": 3046,\"NP\": 3048,\"NE\": 3050,\"NG\": 3052,\"NL\": 3054,\"NI\": 3056,\"NZ\": 3058,\"NO\": 3060,\"AE\": 3062,\"OM\": 3064,\"PK\": 3066,\"PW\": 3068,\"PA\": 3070,\"PG\": 3072,\"PY\": 3074,\"PE\": 3076,\"PL\": 3078,\"PT\": 3080,\"RU\": 3082,\"RW\": 3084,\"RO\": 3086,\"SV\": 3088,\"WS\": 3090,\"SM\": 3092,\"ST\": 3094,\"SA\": 3096,\"MK\": 3098,\"SC\": 3100,\"SN\": 3102,\"VC\": 3104,\"KN\": 3106,\"LC\": 3108,\"RS\": 3110,\"SG\": 3112,\"SY\": 3114,\"SK\": 3116,\"SI\": 3118,\"SB\": 3120,\"SO\": 3122,\"SD\": 3124,\"SR\": 3126,\"US\": 3128,\"SL\": 3130,\"TJ\": 3132,\"TH\": 3134,\"TZ\": 3136,\"TG\": 3138,\"TO\": 3140,\"TT\": 3142,\"TV\": 3144,\"TN\": 3146,\"TM\": 3148,\"TR\": 3150,\"UG\": 3152,\"UZ\": 3154,\"UA\": 3156,\"UY\": 3158,\"FO\": 3160,\"FJ\": 3162,\"PH\": 3164,\"FI\": 3166,\"FR\": 3168,\"HR\": 3170,\"CF\": 3172,\"TD\": 3174,\"ME\": 3176,\"CZ\": 3178,\"CL\": 3180,\"CH\": 3182,\"SE\": 3184,\"LK\": 3186,\"EC\": 3188,\"GQ\": 3190,\"ER\": 3192,\"EE\": 3194,\"ET\": 3196,\"ZA\": 3198,\"JM\": 3200}[$json.preferable_country] || null) }}],\n    \"STATUS_ID\": \"NEW\"\n  }\n}",
        "options": {}
      },
      "id": "5b162a47-19ec-452c-ac49-8c114f1a2094",
      "name": "Bitrix Create Lead Гайд.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global-relocate.bitrix24.ru/rest/1/iv7h8mv7sc322e3y/crm.lead.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"TITLE\": \"Новая заявка [КОММЕРЧ]\",\n    \"NAME\": \"{{ $json.body.name }}\",\n    \"PHONE\": [{\"VALUE\": \"{{ $json.body.phone }}\", \"VALUE_TYPE\": \"WORK\"}],\n    \"UF_CRM_HREF\": \"{{ $json.body.href }}\",\n    \"UF_CRM_IP\": \"{{ $json.body.ip }}\",\n    \"UF_CRM_METRIKA_CLIENT_ID\": \"{{ $json.body.metrika_client_id }}\",\n    \"UF_CRM_GENDER\": \"{{ ({\"male\": 2824, \"female\": 2826}[$json.gender] || null) }}\",\n    \"UF_CRM_PREFERABLE_COUNTRY\": [{{ ({\"GE\": 3668,\"GR\": 3666,\"AU\": 2828,\"AT\": 2830,\"AZ\": 2832,\"AL\": 2834,\"DZ\": 2836,\"AO\": 2838,\"AD\": 2840,\"AG\": 2842,\"AR\": 2844,\"AM\": 2846,\"AF\": 2848,\"BS\": 2850,\"BD\": 2852,\"BB\": 2854,\"BH\": 2856,\"BZ\": 2858,\"BY\": 2860,\"BE\": 2862,\"BJ\": 2864,\"BG\": 2866,\"BO\": 2868,\"BA\": 2870,\"BW\": 2872,\"BR\": 2874,\"BN\": 2876,\"BF\": 2878,\"BI\": 2880,\"BT\": 2882,\"VU\": 2884,\"VA\": 2886,\"GB\": 2888,\"HU\": 2890,\"VE\": 2892,\"TL\": 2894,\"VN\": 2896,\"GA\": 2898,\"HT\": 2900,\"GY\": 2902,\"GM\": 2904,\"GH\": 2906,\"GT\": 2908,\"GN\": 2910,\"GW\": 2912,\"DE\": 2914,\"HN\": 2916,\"DJ\": 2918,\"DM\": 2920,\"DO\": 2922,\"EG\": 2924,\"ZM\": 2926,\"EH\": 2928,\"ZW\": 2930,\"IL\": 2932,\"IN\": 2934,\"ID\": 2936,\"JO\": 2938,\"IQ\": 2940,\"IR\": 2942,\"IE\": 2944,\"IS\": 2946,\"ES\": 2948,\"IT\": 2950,\"KZ\": 2952,\"KH\": 2954,\"CM\": 2956,\"CA\": 2958,\"QA\": 2960,\"KE\": 2962,\"CY\": 2964,\"KG\": 2966,\"KI\": 2968,\"CN\": 2970,\"CO\": 2972,\"KM\": 2974,\"CD\": 2976,\"CG\": 2978,\"KP\": 2980,\"KR\": 2982,\"CR\": 2984,\"CI\": 2986,\"CU\": 2988,\"KW\": 2990,\"LA\": 2992,\"LV\": 2994,\"LS\": 2996,\"LR\": 2998,\"LB\": 3000,\"LY\": 3002,\"LT\": 3004,\"LI\": 3006,\"LU\": 3008,\"MU\": 3010,\"MR\": 3012,\"MG\": 3014,\"MW\": 3016,\"MY\": 3018,\"ML\": 3020,\"MV\": 3022,\"MT\": 3024,\"MA\": 3026,\"MH\": 3028,\"MX\": 3030,\"FM\": 3032,\"MZ\": 3034,\"MD\": 3036,\"MC\": 3038,\"MN\": 3040,\"MM\": 3042,\"NA\": 3044,\"NR\": 3046,\"NP\": 3048,\"NE\": 3050,\"NG\": 3052,\"NL\": 3054,\"NI\": 3056,\"NZ\": 3058,\"NO\": 3060,\"AE\": 3062,\"OM\": 3064,\"PK\": 3066,\"PW\": 3068,\"PA\": 3070,\"PG\": 3072,\"PY\": 3074,\"PE\": 3076,\"PL\": 3078,\"PT\": 3080,\"RU\": 3082,\"RW\": 3084,\"RO\": 3086,\"SV\": 3088,\"WS\": 3090,\"SM\": 3092,\"ST\": 3094,\"SA\": 3096,\"MK\": 3098,\"SC\": 3100,\"SN\": 3102,\"VC\": 3104,\"KN\": 3106,\"LC\": 3108,\"RS\": 3110,\"SG\": 3112,\"SY\": 3114,\"SK\": 3116,\"SI\": 3118,\"SB\": 3120,\"SO\": 3122,\"SD\": 3124,\"SR\": 3126,\"US\": 3128,\"SL\": 3130,\"TJ\": 3132,\"TH\": 3134,\"TZ\": 3136,\"TG\": 3138,\"TO\": 3140,\"TT\": 3142,\"TV\": 3144,\"TN\": 3146,\"TM\": 3148,\"TR\": 3150,\"UG\": 3152,\"UZ\": 3154,\"UA\": 3156,\"UY\": 3158,\"FO\": 3160,\"FJ\": 3162,\"PH\": 3164,\"FI\": 3166,\"FR\": 3168,\"HR\": 3170,\"CF\": 3172,\"TD\": 3174,\"ME\": 3176,\"CZ\": 3178,\"CL\": 3180,\"CH\": 3182,\"SE\": 3184,\"LK\": 3186,\"EC\": 3188,\"GQ\": 3190,\"ER\": 3192,\"EE\": 3194,\"ET\": 3196,\"ZA\": 3198,\"JM\": 3200}[$json.preferable_country] || null) }}],\n    \"STATUS_ID\": \"NEW\"\n  }\n}",
        "options": {}
      },
      "id": "f64b48c8-6192-453c-922e-ac39d698c658",
      "name": "Bitrix Create Lead Коммерч.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        720
      ]
    }
  ],
  "connections": {
    "Airtable": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "ChatGPT Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "ChatGPT Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Bitrix Create Lead Гайд.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Bitrix Create Lead Коммерч.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "b1ff6a27-cff0-46e8-a7a3-23200a326b0b",
  "owner": {
    "type": "personal",
    "personalEmail": "eciubarov@gmail.com"
  },
  "parentFolderId": null
}